@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("font-awesome.min.css");

/*
	Layered by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 1200px;
	}

	.container.\37 5\25 {
		width: 900px;
	}

	.container.\35 0\25 {
		width: 600px;
	}

	.container.\32 5\25 {
		width: 300px;
	}

	.container {
		width: 1200px;
	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 768px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 768px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: #4d4f5a;
		font-family: 'Lato', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.80em;
		color: #353535;
	}

	input, textarea, select {
		font-family: 'Lato', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.80em;
		color: #353535;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
		color: #000000;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #F2695F;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1.5em;
	}

		header h2 {
			font-size: 2.1em;
		}

		header .byline {
			display: block;
			margin: 0.8em 0 0 0;
			padding: 0 0 0.5em 0;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.7);
		}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

/* Images */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.full {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 4em 2em 0;
		}

		.image.right {
			float: right;
			margin: 0 0 2em 4em;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Lists */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.style2 {
		padding-top: 1em;
	}

		ul.style2 > li {
			position: relative;
			padding: 0.7em 0 0.7em 0em;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

			ul.style2 > li:before {
				position: absolute;
				left: 0;
				top: 0.35em;
				display: block;
				color: #3a71d8;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 1.4em;
			}

			ul.style2 > li:first-child {
				padding-top: 0;
				border-top: none;
			}

				ul.style2 > li:first-child:before {
					top: 0;
				}

		ul.style2 a {
			text-decoration: none;
			color: #353535;
		}

			ul.style2 a:hover {
				text-decoration: underline;
			}

	ul.style3 {
		list-style: none;
		color: #6c6c6c;
	}

		ul.style3 li {
			padding: 1.2em 0em;
			margin: 0 0 1em 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

			ul.style3 li:first-child {
				border-top: none;
			}

		ul.style3 p {
			margin: 0;
		}

		ul.style3 a {
			display: block;
			text-decoration: none;
			color: #6c6c6c;
		}

			ul.style3 a:hover {
				text-decoration: underline;
			}

		ul.style3 h3 {
			padding: 8px 0em 0px 0em !important;
			letter-spacing: 0.05em;
			font-size: 1em !important;
			font-weight: 600 !important;
			color: #353535;
			text-align: left !important;
		}

	ul.style3-alt h3 {
		color: #FFFFFF;
	}

	ul.style3 h3, ul.style3 p {
		margin-left: 5em;
	}

	ul.style3 .first {
		padding-top: 0px;
		background: none;
	}

	ul.style3 .date {
		float: left;
		position: relative;
		top: 0.70em;
		width: 5em;
		height: 5em;
		margin: 0em 1.5em 0em 0em;
		padding: 10px 0em 0em 0em;
		border-radius: 50%;
		background: #64ACCD;
		line-height: normal;
		text-align: center;
		font-size: 0.7em;
		font-weight: 400;
		color: #FFF;
	}

		ul.style3 .date:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url("images/bg01.png");
			border-radius: 6px;
		}

		ul.style3 .date b {
			margin: 0;
			padding: 0;
			display: block;
			font-size: 1.8em;
			font-weight: 400;
			color: #FFFFFF;
		}

		ul.style3 .date a {
			color: #FFFFFF;
		}

			ul.style3 .date a:hover {
				text-decoration: none;
			}

	ul.info li {
		padding: 1.5em 0 1.5em 0;
		border-top: solid 1px rgba(0, 0, 0, 0.1);
	}

		ul.info li:first-child {
			padding-top: 0;
			border-top: none;
			box-shadow: none;
		}

	ul.info h3 {
		display: inline-block;
		padding-bottom: 0.50em;
		font-size: 1.2em;
	}

	ul.info a {
		text-decoration: none;
		color: #898e96;
	}

		ul.info a:hover {
			text-decoration: underline;
		}

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}

	ul.social {
		overflow: hidden;
		margin: 0em 0 3em 0;
		text-align: center;
		cursor: default;
	}

		ul.social li {
			display: inline-block;
			padding: 0em 0.30em;
			font-size: 1.5em;
		}

			ul.social li span {
				display: none;
				margin: 0;
				padding: 0;
			}

			ul.social li a {
				-moz-transition: opacity 0.25s ease-in-out;
				-webkit-transition: opacity 0.25s ease-in-out;
				-ms-transition: opacity 0.25s ease-in-out;
				transition: opacity 0.25s ease-in-out;
				color: #fff;
				opacity: 0.15;
			}

				ul.social li a:before {
					display: inline-block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
				}

			ul.social li:hover a {
				opacity: 0.5;
			}

	ul.menu {
		cursor: default;
	}

		ul.menu li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px #ddd;
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 0.5em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Forms */

	form input[type=text],
	form input[type=password],
	form select,
	form textarea {
		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
		-webkit-appearance: none;
		width: 100%;
		border: 0;
		padding: 0.50em;
		font-size: 1.2em;
		line-height: 1em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		border-radius: 6px;
		background: #fafafa;
		border: 1px solid #e8e8e8;
		outline: none;
	}

		form input[type=text]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus {
			background: #f0f2f5;
		}

	form textarea {
		height: 10em;
	}

	form .formerize-placeholder, form ::-webkit-input-placeholder, form :-moz-placeholder, form ::-moz-placeholder, form :-ms-input-placeholder {
		color: #93989f !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

	form .button {
		margin-right: 1em;
	}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				background: #444;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Buttons */

	.button {
		-moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		position: relative;
		display: inline-block;
		padding: 0.25em 1.5em 0.25em 1.5em;
		border: 0;
		border-radius: 6px;
		background: #64accd;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		color: #FFF;
		cursor: pointer;
	}

		.button:hover {
			background: #74bcdd;
		}

		.button.alt {
			background: #4D4F5A;
		}

			.button.alt:hover {
				background: #5D5F6A;
			}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Header */

	#header {
		position: relative;
		padding: 4em 0 2em 0;
	}

		#header .container {
			position: relative;
		}

/* Logo */

	#logo h1 {
		margin: 0 0 0 1em;
	}

		#logo h1 a {
			text-decoration: none;
			display: block;
			font-size: 1.3em;
			font-weight: 900;
			color: #FFF;
			outline: 0;
		}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: -0.25em;
	}

		#nav > ul > li {
			float: left;
		}

			#nav > ul > li:last-child {
				padding-right: 0;
			}

			#nav > ul > li > a, #nav > ul > li > span {
				display: block;
				padding: 0.25em 1.5em 0.25em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-weight: 400;
				font-size: 0.90em;
				outline: 0;
				color: #FFF;
			}

		#nav li.active a {
			background: #64accd;
			border-radius: 6px;
			color: #FFF;
			font-weight: 700;
		}

		#nav > ul > li > ul {
			display: none;
		}

	.dropotron {
		top: 0;
		text-align: left;
		line-height: 2em;
		min-width: 12em;
		background: #64accd;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		border-radius: 6px;
	}

		.dropotron a, .dropotron span {
			-moz-transition: color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out;
			display: block;
			padding: 0.75em 1.25em 0.75em 1.25em;
			border-top: solid 1px;
			border-color: rgba(255, 255, 255, 0.1);
			border-bottom: 0;
			font-size: 0.90em;
			text-decoration: none;
			color: #fff;
			color: rgba(255, 255, 255, 0.75);
		}

		.dropotron li:first-child > a, .dropotron li:first-child > span {
			border-top: 0;
		}

		.dropotron li:hover > a, .dropotron li:hover > span {
			color: #fff;
		}

		.dropotron li.active > a, .dropotron li.active > span {
			color: #FFF;
		}

	.dropotron-level-0 {
		font-size: 1em;
		margin-top: 1.8em;
	}

		.dropotron-level-0:before {
			content: '';
			position: absolute;
			top: -1.2em;
			left: 50%;
			margin-left: -0.65em;
			width: 1.3em;
			height: 1.3em;
			border-bottom: solid 0.8em #64accd;
			border-left: solid 0.8em transparent;
			border-right: solid 0.8em transparent;
		}

/* Banner */

	#banner {
		position: relative;
	}

		#banner .container {
			background: #fff;
			border-radius: 8px 8px 0px 0px;
			overflow: hidden;
		}

		#banner header {
			padding: 3em 0em 3em 0em;
			text-align: center;
		}

			#banner header h2 {
				font-size: 2.2em;
				color: #353535;
			}

			#banner header .byline {
				font-size: 1.2em;
				font-weight: 700;
				color: rgba(0, 0, 0, 0.4);
				padding: 0;
			}

/* Main */

	#main {
		position: relative;
	}

		#main .container {
			padding: 4em 3em;
			background: #fff;
			border-radius: 8px;
		}

		#main img {
			border-radius: 8px;
		}

	.homepage #main .container {
		border-radius: 0px 0px 8px 8px;
	}

	.homepage #main header h2 {
		color: #353535;
	}

/* Content */

	#content header {
		margin-bottom: 2em;
	}

		#content header h2 {
			font-size: 2em;
		}

		#content header .byline {
			font-size: 1.4em;
			font-weight: 300;
			color: rgba(0, 0, 0, 0.5);
		}

	#content h3 {
		padding: 2em 0em 1.5em 0em;
		font-size: 1.2em;
	}

/* Sidebar */

	#sidebar header h2 {
		font-size: 1.3em;
	}

/* Footer */

	#footer {
		position: relative;
		padding: 4em 0em;
		text-align: center;
		color: rgba(255, 255, 255, 0.2);
	}

		#footer span {
			font-size: 0.90em;
		}

/* Featured */

	#featured {
		position: relative;
		background: #dc5f55;
		text-align: center;
		color: #FFF;
	}

		#featured .container {
			padding: 4em 2em;
			background: #f2695f;
		}

		#featured h3 {
			display: inline-block;
			padding-bottom: 1em;
			font-size: 1.2em;
			color: #FFF;
		}

		#featured .icon {
			position: relative;
			display: block;
			margin: 0px auto 1em auto;
			line-height: 40px;
			font-size: 1.1em;
			background: rgba(0, 0, 0, 0.25);
			width: 40px;
			height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #FFF;
		}

		#featured .button {
			margin-top: 1em;
			background: #FFF;
			color: #B54F47;
		}

/* Wrapper */

	.wrapper {
		color: #eee;
		color: rgba(255, 255, 255, 0.7);
	}

		.wrapper .container {
			overflow: hidden;
			padding: 4em 5em 2em 5em;
		}

		.wrapper header {
			padding-top: 3.5em;
		}

			.wrapper header h2 {
				color: #fff;
			}

		.wrapper img {
			display: block;
			border-radius: 50%;
		}

	.wrapper-style1 {
		background: #549cbd;
	}

		.wrapper-style1 .container {
			background: #64accd;
		}

	.wrapper-style2 {
		background: #5f637a;
	}

		.wrapper-style2 .container {
			background: #6b7089;
		}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
			}

		/* Header */

			#header {
				padding: 1.5em 0 1.5em 0;
			}

		/* Nav */

			.dropotron-level-0 {
				margin-top: 1.3em;
			}

	}

/* Mobile */

	#navPanel, #navButton {
		display: none;
	}

	@media screen and (max-width: 768px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			body {
				padding-top: 44px;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.5em;
				text-align: center;
			}

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;
			}

				section > :first-child, section:first-child, article > :first-child, article:first-child {
					margin-top: 0 !important;
				}

			header {
				text-align: center;
			}

			p {
				text-align: justify;
			}

			form .button {
				margin-top: 0.50em;
			}

			.button {
				display: block;
				margin: 0.5em auto 0.5em auto !important;
				padding: 0.5em 0 0.5em 0 !important;
				text-align: center;
				line-height: 2.5em;
				max-width: 320px;
				border-radius: 5px;
			}

		/* Lists */

			ul.style2 {
				text-align: center;
			}

			ul.info {
				text-align: center;
			}

				ul.info p {
					text-align: center;
				}

			ul.social li {
				padding: 0em 0.10em;
			}

				ul.social li a:before {
					width: 30px;
					height: 30px;
					line-height: 30px;
				}

			ul.style3 .date {
				padding-top: 7px;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navButton {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#navButton .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

					#navButton .toggle:before {
						content: '';
						display: block;
						width: 80px;
						height: 30px;
						position: absolute;
						left: 50%;
						margin-left: -40px;
						background: url("images/toggle.svg") center center no-repeat rgba(57, 59, 70, 0.75);
						border-top: 0;
						border-radius: 0 0 0.35em 0.35em;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateY(-200px);
				-webkit-transform: translateY(-200px);
				-ms-transform: translateY(-200px);
				transform: translateY(-200px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				width: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				height: 200px;
				z-index: 10002;
				background: #2d2f38;
				box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
				font-size: 1em;
				font-weight: 400;
			}

				#navPanel:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

				#navPanel .link {
					position: relative;
					z-index: 1;
					display: block;
					text-decoration: none;
					padding: 0.75em 1em 0.75em 1em;
					color: rgba(255, 255, 255, 0.5);
					border: 0;
					border-top: dotted 1px rgba(255, 255, 255, 0.05);
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						color: #fff;
						font-weight: 400;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateY(200px);
				-webkit-transform: translateY(200px);
				-ms-transform: translateY(200px);
				transform: translateY(200px);
			}

			body.navPanel-visible #navButton {
				-moz-transform: translateY(200px);
				-webkit-transform: translateY(200px);
				-ms-transform: translateY(200px);
				transform: translateY(200px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}

		/* Header */

			#header .container {
				padding: 0.50em 0em 1em 0em;
			}

			#logo h1 {
				margin: 0;
			}

			#logo a {
				position: static !important;
				font-size: 1.7em !important;
				font-weight: 700 !important;
				text-align: center;
			}

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding-top: 0 !important;
			}

				#banner header {
					padding: 3em 1.5em 1em 1.5em;
				}

					#banner header h2 {
						font-size: 1.3em;
					}

					#banner header .byline {
						font-size: 1em;
					}

		/* Main */

			#main .container {
				padding: 2em 15px 0.5em 15px;
			}

		/* Content */

			#content header {
				margin-bottom: 2em;
			}

				#content header h2 {
					font-size: 1.5em;
				}

				#content header .byline {
					font-size: 1.2em;
				}

			#content h3 {
				padding: 2em 0em 1.5em 0em;
				font-size: 1em;
			}

		/* Featured */

			#featured .container {
				padding: 4em 2em 2em 2em;
			}

			#featured h3 {
				padding-bottom: 1em;
				font-size: 1em;
			}

			#featured p {
				text-align: center;
			}

		/* Footer */

			#footer {
				padding: 2em 0em 4em 0em;
			}

				#footer .icon {
					font-size: 0.80em;
				}

				#footer span {
					font-size: 1em;
				}

		/* Wrapper */

			.wrapper .container {
				padding: 2em 15px 0.5em 15px;
				text-align: center;
			}

			.wrapper header h2 {
				font-size: 1.3em;
			}

			.wrapper header .byline {
				font-size: 1.1em;
			}

			.wrapper .image.left, .wrapper .image.right {
				float: none !important;
				margin: 0;
				display: block;
				width: 100%;
			}

			.wrapper p {
				text-align: center;
			}

	}