<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ljecyrillic</key>
    <string>L_jecyrillic.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>eight.hwid</key>
    <string>eight.hwid.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.sinf</key>
    <string>eight.sinf.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>elcyrillic</key>
    <string>elcyrillic.glif</string>
    <key>ereversedcyrillic</key>
    <string>ereversedcyrillic.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five.hwid</key>
    <string>five.hwid.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.sinf</key>
    <string>five.sinf.glif</string>
    <key>five.sups</key>
    <string>five.sups.glif</string>
    <key>four.hwid</key>
    <string>four.hwid.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.sinf</key>
    <string>four.sinf.glif</string>
    <key>four.sups</key>
    <string>four.sups.glif</string>
    <key>m.hwid</key>
    <string>m.hwid.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.hwid</key>
    <string>nine.hwid.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.sinf</key>
    <string>nine.sinf.glif</string>
    <key>nine.sups</key>
    <string>nine.sups.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.sinf</key>
    <string>one.sinf.glif</string>
    <key>one.sups</key>
    <string>one.sups.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>seven.hwid</key>
    <string>seven.hwid.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.sinf</key>
    <string>seven.sinf.glif</string>
    <key>seven.sups</key>
    <string>seven.sups.glif</string>
    <key>six.hwid</key>
    <string>six.hwid.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.sinf</key>
    <string>six.sinf.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>space.em</key>
    <string>space.em.glif</string>
    <key>space.en</key>
    <string>space.en.glif</string>
    <key>space.frac</key>
    <string>space.frac.glif</string>
    <key>space.thin</key>
    <string>space.thin.glif</string>
    <key>three.hwid</key>
    <string>three.hwid.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.sinf</key>
    <string>three.sinf.glif</string>
    <key>three.sups</key>
    <string>three.sups.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two.hwid</key>
    <string>two.hwid.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.sinf</key>
    <string>two.sinf.glif</string>
    <key>two.sups</key>
    <string>two.sups.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uni2117</key>
    <string>uni2117.glif</string>
    <key>uni2166</key>
    <string>uni2166.glif</string>
    <key>uni2168</key>
    <string>uni2168.glif</string>
    <key>uni216B</key>
    <string>uni216B_.glif</string>
    <key>uni2176</key>
    <string>uni2176.glif</string>
    <key>uni2177</key>
    <string>uni2177.glif</string>
    <key>uni217B</key>
    <string>uni217B_.glif</string>
    <key>uni2461</key>
    <string>uni2461.glif</string>
    <key>uni2467</key>
    <string>uni2467.glif</string>
    <key>uni2468</key>
    <string>uni2468.glif</string>
    <key>uni2469</key>
    <string>uni2469.glif</string>
    <key>uni246A</key>
    <string>uni246A_.glif</string>
    <key>uni246B</key>
    <string>uni246B_.glif</string>
    <key>uni246C</key>
    <string>uni246C_.glif</string>
    <key>uni246D</key>
    <string>uni246D_.glif</string>
    <key>uni246E</key>
    <string>uni246E_.glif</string>
    <key>uni246F</key>
    <string>uni246F_.glif</string>
    <key>uni2470</key>
    <string>uni2470.glif</string>
    <key>uni2471</key>
    <string>uni2471.glif</string>
    <key>uni2472</key>
    <string>uni2472.glif</string>
    <key>uni2473</key>
    <string>uni2473.glif</string>
    <key>uni2474</key>
    <string>uni2474.glif</string>
    <key>uni2475</key>
    <string>uni2475.glif</string>
    <key>uni2476</key>
    <string>uni2476.glif</string>
    <key>uni2477</key>
    <string>uni2477.glif</string>
    <key>uni2478</key>
    <string>uni2478.glif</string>
    <key>uni2479</key>
    <string>uni2479.glif</string>
    <key>uni247A</key>
    <string>uni247A_.glif</string>
    <key>uni247B</key>
    <string>uni247B_.glif</string>
    <key>uni247C</key>
    <string>uni247C_.glif</string>
    <key>uni247D</key>
    <string>uni247D_.glif</string>
    <key>uni247E</key>
    <string>uni247E_.glif</string>
    <key>uni247F</key>
    <string>uni247F_.glif</string>
    <key>uni2480</key>
    <string>uni2480.glif</string>
    <key>uni2481</key>
    <string>uni2481.glif</string>
    <key>uni2482</key>
    <string>uni2482.glif</string>
    <key>uni2483</key>
    <string>uni2483.glif</string>
    <key>uni2484</key>
    <string>uni2484.glif</string>
    <key>uni2485</key>
    <string>uni2485.glif</string>
    <key>uni2486</key>
    <string>uni2486.glif</string>
    <key>uni2487</key>
    <string>uni2487.glif</string>
    <key>uni2488</key>
    <string>uni2488.glif</string>
    <key>uni2491</key>
    <string>uni2491.glif</string>
    <key>uni2493</key>
    <string>uni2493.glif</string>
    <key>uni2494</key>
    <string>uni2494.glif</string>
    <key>uni2495</key>
    <string>uni2495.glif</string>
    <key>uni2496</key>
    <string>uni2496.glif</string>
    <key>uni2497</key>
    <string>uni2497.glif</string>
    <key>uni2498</key>
    <string>uni2498.glif</string>
    <key>uni2499</key>
    <string>uni2499.glif</string>
    <key>uni249A</key>
    <string>uni249A_.glif</string>
    <key>uni249B</key>
    <string>uni249B_.glif</string>
    <key>uni249C</key>
    <string>uni249C_.glif</string>
    <key>uni249D</key>
    <string>uni249D_.glif</string>
    <key>uni24E0</key>
    <string>uni24E_0.glif</string>
    <key>uni24EB</key>
    <string>uni24E_B_.glif</string>
    <key>uni24EC</key>
    <string>uni24E_C_.glif</string>
    <key>uni24ED</key>
    <string>uni24E_D_.glif</string>
    <key>uni24EE</key>
    <string>uni24E_E_.glif</string>
    <key>uni24EF</key>
    <string>uni24E_F_.glif</string>
    <key>uni24F0</key>
    <string>uni24F_0.glif</string>
    <key>uni24F1</key>
    <string>uni24F_1.glif</string>
    <key>uni24F2</key>
    <string>uni24F_2.glif</string>
    <key>uni24F3</key>
    <string>uni24F_3.glif</string>
    <key>uni24F4</key>
    <string>uni24F_4.glif</string>
    <key>uni24F5</key>
    <string>uni24F_5.glif</string>
    <key>uni24F6</key>
    <string>uni24F_6.glif</string>
    <key>uni24F7</key>
    <string>uni24F_7.glif</string>
    <key>uni24F8</key>
    <string>uni24F_8.glif</string>
    <key>uni24F9</key>
    <string>uni24F_9.glif</string>
    <key>uni24FA</key>
    <string>uni24F_A_.glif</string>
    <key>uni24FB</key>
    <string>uni24F_B_.glif</string>
    <key>uni24FC</key>
    <string>uni24F_C_.glif</string>
    <key>uni24FD</key>
    <string>uni24F_D_.glif</string>
    <key>uni24FE</key>
    <string>uni24F_E_.glif</string>
    <key>uni2777</key>
    <string>uni2777.glif</string>
    <key>uni2778</key>
    <string>uni2778.glif</string>
    <key>uni2779</key>
    <string>uni2779.glif</string>
    <key>uni277A</key>
    <string>uni277A_.glif</string>
    <key>uni277B</key>
    <string>uni277B_.glif</string>
    <key>uni277C</key>
    <string>uni277C_.glif</string>
    <key>uni277D</key>
    <string>uni277D_.glif</string>
    <key>uni277E</key>
    <string>uni277E_.glif</string>
    <key>uni277F</key>
    <string>uni277F_.glif</string>
    <key>uni3251</key>
    <string>uni3251.glif</string>
    <key>uni3252</key>
    <string>uni3252.glif</string>
    <key>uni3253</key>
    <string>uni3253.glif</string>
    <key>uni3254</key>
    <string>uni3254.glif</string>
    <key>uni3255</key>
    <string>uni3255.glif</string>
    <key>uni3256</key>
    <string>uni3256.glif</string>
    <key>uni3257</key>
    <string>uni3257.glif</string>
    <key>uni3258</key>
    <string>uni3258.glif</string>
    <key>uni3259</key>
    <string>uni3259.glif</string>
    <key>uni325A</key>
    <string>uni325A_.glif</string>
    <key>uni325B</key>
    <string>uni325B_.glif</string>
    <key>uni325C</key>
    <string>uni325C_.glif</string>
    <key>uni325D</key>
    <string>uni325D_.glif</string>
    <key>uni325E</key>
    <string>uni325E_.glif</string>
    <key>uni325F</key>
    <string>uni325F_.glif</string>
    <key>uni32B1</key>
    <string>uni32B_1.glif</string>
    <key>uni32B2</key>
    <string>uni32B_2.glif</string>
    <key>uni32B3</key>
    <string>uni32B_3.glif</string>
    <key>uni32B4</key>
    <string>uni32B_4.glif</string>
    <key>uni32B5</key>
    <string>uni32B_5.glif</string>
    <key>uni32B6</key>
    <string>uni32B_6.glif</string>
    <key>uni32B7</key>
    <string>uni32B_7.glif</string>
    <key>uni32B8</key>
    <string>uni32B_8.glif</string>
    <key>uni32B9</key>
    <string>uni32B_9.glif</string>
    <key>uni32BA</key>
    <string>uni32B_A_.glif</string>
    <key>uni32BB</key>
    <string>uni32B_B_.glif</string>
    <key>uni32BC</key>
    <string>uni32B_C_.glif</string>
    <key>uni32BD</key>
    <string>uni32B_D_.glif</string>
    <key>uni32BE</key>
    <string>uni32B_E_.glif</string>
    <key>uni32BF</key>
    <string>uni32B_F_.glif</string>
    <key>uni3384</key>
    <string>uni3384.glif</string>
    <key>uni3388</key>
    <string>uni3388.glif</string>
    <key>uni338A</key>
    <string>uni338A_.glif</string>
    <key>uni338C</key>
    <string>uni338C_.glif</string>
    <key>uni338D</key>
    <string>uni338D_.glif</string>
    <key>uni338E</key>
    <string>uni338E_.glif</string>
    <key>uni338F</key>
    <string>uni338F_.glif</string>
    <key>uni3391</key>
    <string>uni3391.glif</string>
    <key>uni3392</key>
    <string>uni3392.glif</string>
    <key>uni3393</key>
    <string>uni3393.glif</string>
    <key>uni3395</key>
    <string>uni3395.glif</string>
    <key>uni3396</key>
    <string>uni3396.glif</string>
    <key>uni3397</key>
    <string>uni3397.glif</string>
    <key>uni3398</key>
    <string>uni3398.glif</string>
    <key>uni3399</key>
    <string>uni3399.glif</string>
    <key>uni339D</key>
    <string>uni339D_.glif</string>
    <key>uni339E</key>
    <string>uni339E_.glif</string>
    <key>uni33A0</key>
    <string>uni33A_0.glif</string>
    <key>uni33A2</key>
    <string>uni33A_2.glif</string>
    <key>uni33A6</key>
    <string>uni33A_6.glif</string>
    <key>uni33A9</key>
    <string>uni33A_9.glif</string>
    <key>uni33AA</key>
    <string>uni33A_A_.glif</string>
    <key>uni33AB</key>
    <string>uni33A_B_.glif</string>
    <key>uni33AC</key>
    <string>uni33A_C_.glif</string>
    <key>uni33AD</key>
    <string>uni33A_D_.glif</string>
    <key>uni33AE</key>
    <string>uni33A_E_.glif</string>
    <key>uni33AF</key>
    <string>uni33A_F_.glif</string>
    <key>uni33B0</key>
    <string>uni33B_0.glif</string>
    <key>uni33B1</key>
    <string>uni33B_1.glif</string>
    <key>uni33B3</key>
    <string>uni33B_3.glif</string>
    <key>uni33B4</key>
    <string>uni33B_4.glif</string>
    <key>uni33B5</key>
    <string>uni33B_5.glif</string>
    <key>uni33B6</key>
    <string>uni33B_6.glif</string>
    <key>uni33B7</key>
    <string>uni33B_7.glif</string>
    <key>uni33B8</key>
    <string>uni33B_8.glif</string>
    <key>uni33B9</key>
    <string>uni33B_9.glif</string>
    <key>uni33BA</key>
    <string>uni33B_A_.glif</string>
    <key>uni33BB</key>
    <string>uni33B_B_.glif</string>
    <key>uni33BC</key>
    <string>uni33B_C_.glif</string>
    <key>uni33BD</key>
    <string>uni33B_D_.glif</string>
    <key>uni33BE</key>
    <string>uni33B_E_.glif</string>
    <key>uni33BF</key>
    <string>uni33B_F_.glif</string>
    <key>uni33C0</key>
    <string>uni33C_0.glif</string>
    <key>uni33C1</key>
    <string>uni33C_1.glif</string>
    <key>uni33C2</key>
    <string>uni33C_2.glif</string>
    <key>uni33C3</key>
    <string>uni33C_3.glif</string>
    <key>uni33C4</key>
    <string>uni33C_4.glif</string>
    <key>uni33C5</key>
    <string>uni33C_5.glif</string>
    <key>uni33C6</key>
    <string>uni33C_6.glif</string>
    <key>uni33C7</key>
    <string>uni33C_7.glif</string>
    <key>uni33C8</key>
    <string>uni33C_8.glif</string>
    <key>uni33C9</key>
    <string>uni33C_9.glif</string>
    <key>uni33CA</key>
    <string>uni33C_A_.glif</string>
    <key>uni33CB</key>
    <string>uni33C_B_.glif</string>
    <key>uni33CD</key>
    <string>uni33C_D_.glif</string>
    <key>uni33CE</key>
    <string>uni33C_E_.glif</string>
    <key>uni33CF</key>
    <string>uni33C_F_.glif</string>
    <key>uni33D0</key>
    <string>uni33D_0.glif</string>
    <key>uni33D1</key>
    <string>uni33D_1.glif</string>
    <key>uni33D2</key>
    <string>uni33D_2.glif</string>
    <key>uni33D3</key>
    <string>uni33D_3.glif</string>
    <key>uni33D6</key>
    <string>uni33D_6.glif</string>
    <key>uni33D8</key>
    <string>uni33D_8.glif</string>
    <key>uni33DB</key>
    <string>uni33D_B_.glif</string>
    <key>uni33DC</key>
    <string>uni33D_C_.glif</string>
    <key>uni33DD</key>
    <string>uni33D_D_.glif</string>
    <key>zero.hwid</key>
    <string>zero.hwid.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.sinf</key>
    <string>zero.sinf.glif</string>
    <key>zero.sups</key>
    <string>zero.sups.glif</string>
  </dict>
</plist>
