<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>748</integer>
    <key>capHeight</key>
    <integer>658</integer>
    <key>copyright</key>
    <string>(c) 2017 TYPETR Petr van Blokland (buro@petr.com) Original Design. </string>
    <key>descender</key>
    <integer>-252</integer>
    <key>familyName</key>
    <string>Upgrade</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>8</integer>
    <key>openTypeHheaAscender</key>
    <integer>748</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-252</integer>
    <key>openTypeHheaLineGap</key>
    <integer>50</integer>
    <key>openTypeNameDescription</key>
    <string>The Upgrade project is the result of sketching a full weight range sans serif, intented for usage as Variable Font with [wght] and [opsz] axes. A considerable part of fininshing the design was done by Tilmann Hielscher, Post-production and QA by Jill Pichotta and others of the Type Network production team. Upgrade is designed and produced using RoboFont and tools exclusively created for Type Network.</string>
    <key>openTypeNameDesigner</key>
    <string>Petr van Blokland</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://typetr.typenetwork.com</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://store.typenetwork.com/cart/eula/typetr</string>
    <key>openTypeNameManufacturer</key>
    <string>TYPETR</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://typetr.typenetwork.com</string>
    <key>openTypeNameUniqueID</key>
    <string>Upgrade Middle TYPETR 1.00</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.00</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>225</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>-75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>748</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-252</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>29</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>38</integer>
      <integer>45</integer>
      <integer>60</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>TPTR</string>
    <key>openTypeOS2WeightClass</key>
    <integer>369</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>748</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>302</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-21</integer>
      <integer>0</integer>
      <integer>473</integer>
      <integer>495</integer>
      <integer>666</integer>
      <integer>686</integer>
      <integer>730</integer>
      <integer>740</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>68</integer>
      <integer>60</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>72</integer>
      <integer>65</integer>
    </array>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Upgrade is a trademark of TYPETR | Buro Petr van Blokland + Claudia Mens | Delft | The Netherlands</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>466</integer>
  </dict>
</plist>
