@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('font-awesome.min.css');

/*
	Layered by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	@import "libs/skel";

	@include skel-breakpoints((
		normal: '(max-width: 1280px)',
		mobile: '(max-width: 768px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (40px, 40px) ),
		conditionals: true,
		containers: 1200px,
		breakpoints: (
			normal: (
				containers: 1000px,
			),
			mobile: (
				containers: (95%, true),
				grid: (
					gutters: (20px, 20px)
				),
			)
		)
	));

/* Basic */

	body {
		background: #4d4f5a;
		font-family: 'Lato', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.80em;
		color: #353535;
	}

	input, textarea, select {
		font-family: 'Lato', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.80em;
		color: #353535;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;

		a {
			color: inherit;
			text-decoration: none;
		}
	}


	strong, b {
		font-weight: 700;
		color: #000000;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #F2695F;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1.5em;

		h2 {
			font-size: 2.1em;
		}

		.byline {
			display: block;
			margin: 0.8em 0 0 0;
			padding: 0 0 0.5em 0;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.7);
		}
	}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;

		> :last-child, &:last-child {
			margin-bottom: 0;
		}
	}

	.row {
		> section, > article {
			margin-bottom: 0;
		}
	}

/* Images */

	.image {
		display: inline-block;

		img {
			display: block;
			width: 100%;
		}

		&.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		&.full {
			display: block;
			width: 100%;
		}

		&.left {
			float: left;
			margin: 0 4em 2em 0;
		}

		&.right {
			float: right;
			margin: 0 0 2em 4em;
		}

		&.centered {
			display: block;
			margin: 0 0 2em 0;

			img {
				margin: 0 auto;
				width: auto;
			}
		}
	}

/* Lists */

	ul {
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}

		&.style2 {
			padding-top: 1em;

			> li {
				position: relative;
				padding: 0.7em 0 0.7em 0em;
				border-top: 1px solid rgba(0, 0, 0, 0.1);

				&:before {
					position: absolute;
					left: 0;
					top: 0.35em;
					display: block;
					color: #3a71d8;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					font-size: 1.4em;
				}

				&:first-child {
					padding-top: 0;
					border-top: none;

					&:before {
						top: 0;
					}
				}
			}

			a {
				text-decoration: none;
				color: #353535;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.style3 {
			list-style: none;
			color: #6c6c6c;

			li {
				padding: 1.2em 0em;
				margin: 0 0 1em 0;
				border-top: 1px solid rgba(0, 0, 0, 0.1);

				&:first-child {
					border-top: none;
				}
			}

			p {
				margin: 0;
			}

			a {
				display: block;
				text-decoration: none;
				color: #6c6c6c;

				&:hover {
					text-decoration: underline;
				}
			}

			h3 {
				padding: 8px 0em 0px 0em !important;
				letter-spacing: 0.05em;
				font-size: 1em !important;
				font-weight: 600 !important;
				color: #353535;
				text-align: left !important;
			}
		}

		&.style3-alt {
			h3 {
				color: #FFFFFF;
			}
		}

		&.style3 {
			h3, p {
				margin-left: 5em;
			}

			.first {
				padding-top: 0px;
				background: none;
			}

			.date {
				float: left;
				position: relative;
				top: 0.70em;
				width: 5em;
				height: 5em;
				margin: 0em 1.5em 0em 0em;
				padding: 10px 0em 0em 0em;
				border-radius: 50%;
				background: #64ACCD;
				line-height: normal;
				text-align: center;
				font-size: 0.7em;
				font-weight: 400;
				color: #FFF;

				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url('images/bg01.png');
					border-radius: 6px;
				}

				b {
					margin: 0;
					padding: 0;
					display: block;
					font-size: 1.8em;
					font-weight: 400;
					color: #FFFFFF;
				}

				a {
					color: #FFFFFF;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&.info {
			li {
				padding: 1.5em 0 1.5em 0;
				border-top: solid 1px rgba(0, 0, 0, 0.1);

				&:first-child {
					padding-top: 0;
					border-top: none;
					box-shadow: none;
				}
			}

			h3 {
				display: inline-block;
				padding-bottom: 0.50em;
				font-size: 1.2em;
			}

			a {
				text-decoration: none;
				color: #898e96;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.icons {
			cursor: default;

			li {
				display: inline-block;
			}

			a {
				display: inline-block;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				border: 0;
			}
		}

		&.social {
			overflow: hidden;
			margin: 0em 0 3em 0;
			text-align: center;
			cursor: default;

			li {
				display: inline-block;
				padding: 0em 0.30em;
				font-size: 1.5em;

				span {
					display: none;
					margin: 0;
					padding: 0;
				}

				a {
					@include vendor('transition', 'opacity 0.25s ease-in-out');
					color: #fff;
					opacity: 0.15;

					&:before {
						display: inline-block;
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;
					}
				}

				&:hover a {
					opacity: 0.5;
				}
			}
		}

		&.menu {
			cursor: default;

			li {
				display: inline-block;
				line-height: 1em;
				border-left: solid 1px #ddd;
				padding: 0 0 0 0.5em;
				margin: 0 0 0 0.5em;

				&:first-child {
					border-left: 0;
					padding-left: 0;
					margin-left: 0;
				}
			}
		}

		&.actions {
			cursor: default;

			li {
				display: inline-block;
				margin: 0 0 0 0.5em;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	ol{
		&.default {
			list-style: decimal;
			padding-left: 1.25em;

			li {
				padding-left: 0.25em;
			}
		}
	}

/* Forms */

	form {
		input[type=text],
		input[type=password],
		select,
		textarea {
			@include vendor('transition', 'background-color 0.25s ease-in-out');
			-webkit-appearance: none;
			width: 100%;
			border: 0;
			padding: 0.50em;
			font-size: 1.2em;
			line-height: 1em;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			border-radius: 6px;
			background: #fafafa;
			border: 1px solid #e8e8e8;
			outline: none;

			&:focus {
				background: #f0f2f5;
			}
		}

		textarea {
			height: 10em;
		}

		.formerize-placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
			color: #93989f !important;
		}

		::-moz-focus-inner {
			border: 0;
		}

		.button {
			margin-right: 1em;
		}
	}

/* Tables */

	table {
		width: 100%;

		&.default {
			width: 100%;

			tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			td {
				padding: 0.5em 1em 0.5em 1em;
			}

			th {
				text-align: left;
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
			}

			thead {
				background: #444;
				color: #fff;
			}

			tfoot {
				background: #eee;
			}
		}
	}

/* Buttons */

	.button {
		@include vendor('transition', 'background-color 0.25s ease-in-out, color 0.25s ease-in-out');
		position: relative;
		display: inline-block;
		padding: 0.25em 1.5em 0.25em 1.5em;
		border: 0;
		border-radius: 6px;
		background: #64accd;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		color: #FFF;
		cursor: pointer;

		&:hover {
			background: #74bcdd;
		}

		&.alt {
			background: #4D4F5A;

			&:hover {
				background: #5D5F6A;
			}
		}
	}

/* Icons */

	.icon {
		text-decoration: none;

		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

/* Header */

	#header {
		position: relative;
		padding: 4em 0 2em 0;

		.container {
			position: relative;
		}
	}

/* Logo */

	#logo {
		h1 {
			margin: 0 0 0 1em;

			a {
				text-decoration: none;
				display: block;
				font-size: 1.3em;
				font-weight: 900;
				color: #FFF;
				outline: 0;
			}
		}
	}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: -0.25em;

		> ul > li {
			float: left;

			&:last-child {
				padding-right: 0;
			}

			> a, > span {
				display: block;
				padding: 0.25em 1.5em 0.25em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-weight: 400;
				font-size: 0.90em;
				outline: 0;
				color: #FFF;
			}
		}

		li.active a {
			background: #64accd;
			border-radius: 6px;
			color: #FFF;
			font-weight: 700;
		}

		> ul > li > ul {
			display: none;
		}
	}

	.dropotron {
		top: 0;
		text-align: left;
		line-height: 2em;
		min-width: 12em;
		background: #64accd;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		border-radius: 6px;

		a, span {
			@include vendor('transition', 'color 0.25s ease-in-out');
			display: block;
			padding: 0.75em 1.25em 0.75em 1.25em;
			border-top: solid 1px;
			border-color: rgba(255, 255, 255, 0.1);
			border-bottom: 0;
			font-size: 0.90em;
			text-decoration: none;
			color: #fff;
			color: rgba(255, 255, 255, 0.75);
		}

		li {
			&:first-child {
				> a, > span {
					border-top: 0;
				}
			}

			&:hover {
				> a, > span {
					color: #fff;
				}
			}

			&.active {
				> a, > span {
					color: #FFF;
				}
			}
		}
	}

	.dropotron-level-0 {
		font-size: 1em;
		margin-top: 1.8em;

		&:before {
			content: '';
			position: absolute;
			top: -1.2em;
			left: 50%;
			margin-left: -0.65em;
			width: 1.3em;
			height: 1.3em;
			border-bottom: solid 0.8em #64accd;
			border-left: solid 0.8em rgba(0, 0, 0, 0);
			border-right: solid 0.8em rgba(0, 0, 0, 0);
		}
	}

/* Banner */

	#banner {
		position: relative;

		.container {
			background: #fff;
			border-radius: 8px 8px 0px 0px;
			overflow: hidden;
		}

		header {
			padding: 3em 0em 3em 0em;
			text-align: center;

			h2 {
				font-size: 2.2em;
				color: #353535;
			}

			.byline {
				font-size: 1.2em;
				font-weight: 700;
				color: rgba(0, 0, 0, 0.4);
				padding: 0;
			}
		}
	}

/* Main */

	#main {
		position: relative;

		.container {
			padding: 4em 3em;
			background: #fff;
			border-radius: 8px;
		}

		img {
			border-radius: 8px;
		}
	}

	.homepage #main {
		.container {
			border-radius: 0px 0px 8px 8px;
		}

		header h2 {
			color: #353535;
		}
	}

/* Content */

	#content {
		header {
			margin-bottom: 2em;

			h2 {
				font-size: 2em;
			}

			.byline {
				font-size: 1.4em;
				font-weight: 300;
				color: rgba(0, 0, 0, 0.5);
			}
		}

		h3 {
			padding: 2em 0em 1.5em 0em;
			font-size: 1.2em;
		}
	}

/* Sidebar */

	#sidebar {
		header {
			h2 {
				font-size: 1.3em;
			}
		}
	}

/* Footer */

	#footer {
		position: relative;
		padding: 4em 0em;
		text-align: center;
		color: rgba(255, 255, 255, 0.2);

		span {
			font-size: 0.90em;
		}
	}

/* Featured */

	#featured {
		position: relative;
		background: #dc5f55;
		text-align: center;
		color: #FFF;

		.container {
			padding: 4em 2em;
			background: #f2695f;
		}

		h3 {
			display: inline-block;
			padding-bottom: 1em;
			font-size: 1.2em;
			color: #FFF;
		}

		.icon {
			position: relative;
			display: block;
			margin: 0px auto 1em auto;
			line-height: 40px;
			font-size: 1.1em;
			background: rgba(0, 0, 0, 0.25);
			width: 40px;
			height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #FFF;
		}

		.button {
			margin-top: 1em;
			background: #FFF;
			color: #B54F47;
		}
	}

/* Wrapper */

	.wrapper {
		color: #eee;
		color: rgba(255, 255, 255, 0.7);

		.container {
			overflow: hidden;
			padding: 4em 5em 2em 5em;
		}

		header {
			padding-top: 3.5em;

			h2 {
				color: #fff;
			}
		}

		img {
			display: block;
			border-radius: 50%;
		}
	}

	.wrapper-style1 {
		background: #549cbd;

		.container {
			background: #64accd;
		}
	}

	.wrapper-style2 {
		background: #5f637a;

		.container {
			background: #6b7089;
		}
	}

/* Normal */

	@include breakpoint(normal) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
			}

		/* Header */

			#header {
				padding: 1.5em 0 1.5em 0;
			}

		/* Nav */

			.dropotron-level-0 {
				margin-top: 1.3em;
			}

	}

/* Mobile */

	#navPanel, #navButton {
		display: none;
	}

	@include breakpoint(mobile) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			body {
				padding-top: 44px;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.5em;
				text-align: center;
			}

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;

				> :first-child, &:first-child {
					margin-top: 0 !important;
				}
			}

			header {
				text-align: center;
			}

			p {
				text-align: justify;
			}

			form .button {
				margin-top: 0.50em;
			}

			.button {
				display: block;
				margin: 0.5em auto 0.5em auto !important;
				padding: 0.5em 0 0.5em 0 !important;
				text-align: center;
				line-height: 2.5em;
				max-width: 320px;
				border-radius: 5px;
			}

		/* Lists */

			ul {
				&.style2 {
					text-align: center;
				}

				&.info {
					text-align: center;

					p {
						text-align: center;
					}
				}

				&.social li {
					padding: 0em 0.10em;

					a:before {
						width: 30px;
						height: 30px;
						line-height: 30px;
					}
				}

				&.style3 .date {
					padding-top: 7px;
				}
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				padding-bottom: 1px;
			}

			#navButton {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: _misc(z-index-base) + 1;

				.toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					&:before {
						content: '';
						display: block;
						width: 80px;
						height: 30px;
						position: absolute;
						left: 50%;
						margin-left: -40px;
						background: url('images/toggle.svg') center center no-repeat rgba(57, 59, 70, 0.75);
						border-top: 0;
						border-radius: 0 0 0.35em 0.35em;
					}
				}
			}

			#navPanel {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transform', 'translateY(#{_size(navPanel) * -1})');
				@include vendor('transition', ('transform #{_duration(navPanel)} ease'));
				display: block;
				width: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				height: _size(navPanel);
				z-index: _misc(z-index-base) + 2;
				background: #2d2f38;
				box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
				font-size: 1em;
				font-weight: 400;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

				.link {
					position: relative;
					z-index: 1;
					display: block;
					text-decoration: none;
					padding: 0.75em 1em 0.75em 1em;
					color: rgba(255, 255, 255, 0.5);
					border: 0;
					border-top: dotted 1px rgba(255, 255, 255, 0.05);

					&:first-child {
						border-top: 0;
					}

					&.depth-0 {
						color: #fff;
						font-weight: 400;
					}
				}

				.indent-1 {
					display: inline-block;
					width: 1em;
				}

				.indent-2 {
					display: inline-block;
					width: 2em;
				}

				.indent-3 {
					display: inline-block;
					width: 3em;
				}

				.indent-4 {
					display: inline-block;
					width: 4em;
				}

				.indent-5 {
					display: inline-block;
					width: 5em;
				}

				.depth-0 {
					color: #fff;
				}
			}

			body {
				&.navPanel-visible {
					#page-wrapper {
						@include vendor('transform', 'translateY(#{_size(navPanel)})');
					}

					#navButton {
						@include vendor('transform', 'translateY(#{_size(navPanel)})');
					}

					#navPanel {
						@include vendor('transform', 'translateY(0)');
					}
				}
			}

		/* Header */

			#header .container {
				padding: 0.50em 0em 1em 0em;
			}

			#logo {
				h1 {
					margin: 0;
				}

				a {
					position: static !important;
					font-size: 1.7em !important;
					font-weight: 700 !important;
					text-align: center;
				}
			}

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding-top: 0 !important;

				header {
					padding: 3em 1.5em 1em 1.5em;

					h2 {
						font-size: 1.3em;
					}

					.byline {
						font-size: 1em;
					}
				}
			}

		/* Main */

			#main .container {
				padding: 2em 15px 0.5em 15px;
			}

		/* Content */

			#content {
				header {
					margin-bottom: 2em;

					h2 {
						font-size: 1.5em;
					}

					.byline {
						font-size: 1.2em;
					}
				}

				h3 {
					padding: 2em 0em 1.5em 0em;
					font-size: 1em;
				}
			}

		/* Featured */

			#featured {
				.container {
					padding: 4em 2em 2em 2em;
				}

				h3 {
					padding-bottom: 1em;
					font-size: 1em;
				}

				p {
					text-align: center;
				}
			}

		/* Footer */

			#footer {
				padding: 2em 0em 4em 0em;

				.icon {
					font-size: 0.80em;
				}

				span {
					font-size: 1em;
				}
			}

		/* Wrapper */

			.wrapper {
				.container {
					padding: 2em 15px 0.5em 15px;
					text-align: center;
				}

				header {
					h2 {
						font-size: 1.3em;
					}

					.byline {
						font-size: 1.1em;
					}
				}

				.image {
					&.left, &.right {
						float: none !important;
						margin: 0;
						display: block;
						width: 100%;
					}
				}

				p {
					text-align: center;
				}
			}

	}