<!DOCTYPE HTML>
<!--
	Layered by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>{{pageName}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">{{logo}}</a></h1>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="#">Dropdown</a>
										<ul>
											<li><a href="{{pageFile1}}.html">{{pageName1}}</a></li>
											<li><a href="{{pageFile2}}.html">{{pageName2}}</a></li>
											<li><a href="{{pageFile3}}.html">{{pageName3}}</a></li>
											<li><a href="{{pageFile4}}.html">{{pageName4}}</a></li>
											<li><a href="{{pageFile5}}.html">{{pageName5}}</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="{{pageFile51}}.html">{{pageName51}}</a></li>
													<li><a href="{{pageFile52}}.html">{{pageName52}}</a></li>
													<li><a href="{{pageFile53}}.html">{{pageName53}}</a></li>
													<li><a href="{{pageFile54}}.html">{{pageName54}}</a></li>
													<li><a href="{{pageFile55}}.html">{{pageName55}}</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Banner -->
				<div id="banner">
					<div class="container">
						<section>
							<img src="images/pic01.jpg" alt="" class="image full">
							<header>
								<h2>Magna sed consequat ligula</h2>
								<span class="byline">Sem nristiue onec tuis dui at dolor tempor intlorem ipsum laoreet</span>
							</header>
						</section>
					</div>
				</div>

			<!-- Featured -->
				<div id="featured">
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<section>
									<span class="pennant icon fa-user"></span>
									<h3>Auctor Feugiat</h3>
									<p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p>
									<a href="#" class="button">More</a>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section>
									<span class="pennant icon fa-cog"></span>
									<h3>Sed Malesuada</h3>
									<p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p>
									<a href="#" class="button">More</a>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section>
									<span class="pennant icon fa-volume-off"></span>
									<h3>Elit Phasellus</h3>
									<p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p>
									<a href="#" class="button">More</a>
								</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Item1 -->
				<div class="wrapper wrapper-style1">
					<div class="container">
						<section>
							<img src="images/pic02.jpg" alt="" class="image right">
							<header>
								<h2>Nibh feugiat blandit</h2>
								<span class="byline">Rutrum sed lorem ipsum dolor sit amet nullam</span>
							</header>
							<p>Accumsan diam rutrum porta justo tincidunt cum aliquam. Consectetur malesuada iaculis scelerisque pellentesque commodo suscipit iaculis magna cras sapien eget praesent. Libero etiam etiam fringilla felis dignissim nullam ligula dolor rutrum eget.</p>
						</section>
					</div>
				</div>

			<!-- Item2 -->
				<div class="wrapper wrapper-style2">
					<div class="container">
						<section>
							<img src="images/pic03.jpg" alt="" class="image left">
							<div class="content">
								<header>
									<h2>Commodo et sapien</h2>
									<span class="byline">Ipsum dolor sit amet nullam tincidunt lorem</span>
								</header>
								<p>Accumsan diam rutrum porta justo tincidunt cum aliquam. Consectetur malesuada iaculis scelerisque pellentesque commodo suscipit iaculis magna cras sapien eget praesent. Libero etiam etiam fringilla felis dignissim nullam ligula dolor rutrum eget.</p>
							</div>
						</section>
					</div>
				</div>


			<!-- Main -->
				<div id="main">
					<div class="container">

						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">
									<section>
										<header>
											<h2>Libero sed etiam consequat</h2>
										</header>
										<ul class="style3">
											<li class="first">
												<p class="date"><a href="#">Aug<b>24</b></a></p>
												<h3>Phasellus lorem ipsum</h3>
												<p><a href="#">Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</a></p>
											</li>
											<li>
												<p class="date"><a href="#">Aug<b>24</b></a></p>
												<h3>Amet hendrerit</h3>
												<p><a href="#">Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</a></p>
											</li>
											<li>
												<p class="date"><a href="#">Aug<b>24</b></a></p>
												<h3>Libero consequat</h3>
												<p><a href="#">Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</a></p>
											</li>
										</ul>
									</section>
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<section>
										<header>
											<h2>Magna tempus etiam</h2>
										</header>
										<img src="images/pic04.jpg" alt="" class="image featured">
										<p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Lorem ipsum dolor sit amet, consecetuer adipiscing elit.</p>
									</section>
								</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">


						<!-- Copyright -->
							<div class="copyright">
								<ul class="social">
									<li><a href="#" class="icon fa-facebook"><span></span></a></li>
									<li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
									<li><a href="#" class="icon fa-google-plus"><span>Google+</span></a></li>
									<li><a href="#" class="icon fa-pinterest"><span>Pinterest</span></a></li>
									<li><a href="#" class="icon fa-linkedin"><span>Linkedin</span></a></li>
									<li><a href="#" class="icon fa-envelope"><span>Email</span></a></li>
								</ul>
								<span>&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet nullam.</span>
							</div>

					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>