<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>{{pageName}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body>

        <!-- Header -->
        <header id="header" class="alt">
            <div class="logo"><a href="index.html">{{logo}}</a></div>
            <a href="#menu">{{menuName}}</a>
        </header>

        <!-- Nav -->
        {{menuLinks}}

        <!-- Banner slide show -->
        {{bannerSlideShow}}

        <!-- One -->
        {{imageArticles}}

        <!-- Two -->
        {{pullQuote}}

        <!-- Three -->
        {{gallery}}

        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; {{year}} {{copyright}} | All rights reserved.
            </div>
        </footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>